.container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.container-main {
  display: flex;
}

.container-prev {
  background-color: green;
}

.newCards {
  background-color: gray;
}
